/* Fonts */

/* Primary Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Secondary Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Font For Footer */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    /* Font Family */
  --primaryFont: "Poppins", serif;
  --secondaryFont: "Inter", serif;
  --fontForFooter: "Manrope", serif;

  /* Colors */
  --veryDarkGray: rgb(24, 25, 31);
  --darkGray: rgb(58, 58, 58);
  --lightGray: rgb(120,120,120);
  --gray: rgb(108, 108, 108);
  --veryLightGray: rgb(217, 219, 225);
  --whiteColor: rgb(255, 255, 255);
  --darkColor: rgb(0, 0, 0);
  --pinkColor: rgb(224, 44, 109);
}
